<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">

  <div class="col-md-12">
    <h1>Administration!</h1>
    <div class="">
      <p>
        When you hit the <strong>Create data</strong> button, the locker database
        will be cleared and re-seeded with a starter set of data.
      </p>
      <div>
        <p>
          There are {{lockers.length}} lockers.
        </p>
      </div>
      <div class="row">
        <input type="text" pattern="\d*" name="lockerNumber" ng-model="lockerNumber" value="1">
        <button class="btn btn-primary btn-large" name="show-by-number-button" ng-click="showByNumber()">Show me</button>
        {{selectedLocker}}
      </div>
      <button class="btn btn-primary btn-large" name="seed" ng-click="wipeData()">Wipe data</button>
      <button class="btn btn-primary btn-large" name="seed" ng-click="createData()">Create data</button>
      <div class="col-lg-12">
        <h3>{{lockersInUse.length}} lockers in use.</h3>
        <p ng-repeat="locker in lockersInUse">
          Slot: {{locker.slot}}, Size: {{locker.size}}
        </p>
      </div>

    </div>
  </div>

  </div>
</div>
