<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>GoldiLockers!</h1>
    <p class="lead">Drop your stuff in our lockers. They're sized just right!</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">{{openLockers}} are waiting to be filled with stuff!</h1>
      <p class="text-center">There are {{lockers.length}} in all. That means {{((lockers.length-openLockers)/lockers.length)*100 | number:2}}% occupancy.</p>
    </div>
  <div>
  <div class="row">
    <div class="col-lg-4 big-clicker" ng-click="dropOff('small')">
      <p class="words">Too small</p>
      <p class="caption">Small lockers free: {{smallCountNotInUse}}</p>
    </div>
    <div class="col-lg-4 big-clicker" ng-click="dropOff('medium')">
      <p class="words">Just right!</p>
      <p class="caption">Medium lockers free: {{mediumCountNotInUse}}</p>
    </div>
    <div class="col-lg-4 big-clicker" ng-click="dropOff('large')">
      <p class="words">Too BIG!</p>
      <p class="caption">Large lockers free: {{largeCountNotInUse}}</p>
    </div>
  </div>
  <div class="row">
    <div class="claim-it col-lg-6 col-lg-offset-3">
      <form ng-submit="pickUp()">
        <p><input type="text" pattern="\d*" ng-model="lockerNumber" name="lockerNumber" size="4"/></p>
        <p><input class="btn btn-large btn-primary" type="submit" value="Pick it up!" /></p>
        <p ng-show="pickupMessage">
          {{pickupMessage}}
        </p>
      </form>
    </div>

  </div> <!-- row -->
</div>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Claim Check</h3>
    </div>
    <div class="modal-body">
      <div class="claim-check">
        <h2>Claim Check</h2>
        <h5>{{locker.size}}</h4>
        <h1 class="claim-id">{{locker.slot}}</h1>
        <h4>Locker Number</h4>
        <div class="send-sms">
          <form name="myForm" novalidate ng-submit="sendSMS(myForm)">
            <p><input type="tel" ng-model="$parent.phone" name="phone" placeholder="800-555-1212"></p>
            <p><button type="submit" class="btn btn-info btn-sm">Send SMS Claim Check</button></p>
          </form>
          <p>{{message}}</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" ng-click="done()">Done</button>
    </div>
</script>


<footer class="footer">
  <div class="container">
      <p><a href="https://twitter.com/danielmarlow">@danielmarlow</a> |
         <a href="https://github.com/DanielMarlow/lockers">GitHub</a></p>
  </div>
</footer>
