<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Lockers!</h1>
    <p class="lead">Dump your stuff in our lockers.</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p>Total: {{lockers.length}}</p>
      <p>Small in use: {{smallCountInUse}} <button class="btn btn-primary" ng-click="dropOff('small')">Drop off something small</button></p>
      <p>Medium in use: {{mediumCountInUse}} <button class="btn btn-primary" ng-click="dropOff('medium')">Drop off something just right</button></p>
      <p>Large in use: {{largeCountInUse}} <button class="btn btn-primary" ng-click="dropOff('large')">Drop off a big thing</button></p>
      <p>{{checkedInLocker}}</p>
      <p>
        <form ng-submit="pickUp()">
          <input type="text" pattern="\d*" ng-model="lockerNumber" name="lockerNumber" />
          <input class="btn btn-primary" type="submit" value="Pick it up!" />
          <p ng-show="pickupMessage">
            {{pickupMessage}}
          </p>
        </form>
      </p>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p><a href="https://twitter.com/danielmarlow">@danielmarlow</a> |
         <a href="https://github.com/DanielMarlow/lockers">GitHub</a></p>
  </div>
</footer>
